@tailwind base;
@tailwind components;
@tailwind utilities;

.stackImageServices {
    @apply rounded-full bg-site-background p-2 lg:p-4 h-auto w-1/4 max-w-stackImage;
}

.section {
    height: calc(100vh - 5rem);
}

.presentation_image {
    height: 100%;
    background: no-repeat
        url('../assets/dylan.webp');
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1100px) {
    .presentation_image {
        background: none;
    }
}
